
@{
    ViewData["Title"] = "Menu";
}

<div class="row">

    <a href="../Conta/Index" style="color:darkslategray">
        <div class="col-lg-4 text-center">
            <img src="~/images/conta.png" width="40%" />
            <h3>Criar Conta</h3>
        </div>
    </a>

    <a href="../PlanoConta/Index" style="color:darkslategray">
        <div class="col-lg-4 text-center">
            <img src="~/images/planocontas.png" width="40%" />
            <h3>Plano de Conta</h3>
        </div>
    </a>

    <a href="../Transacao/Index" style="color:darkslategray">
        <div class="col-lg-4 text-center">
            <img src="~/images/registrar_transacao.png" width="40%" />
            <h3>Registrar transação</h3>
        </div>
    </a>

</div>

<br />
<br />
<br />

<div class="row">

    <a href="../Transacao/Extrato" style="color:darkslategray">
        <div class="col-lg-4 text-center">
            <img src="~/images/extrato.png" width="40%" />
            <h3>Extrato</h3>
        </div>
    </a>

    <a href="../Transacao/Dashboard" style="color:darkslategray">
        <div class="col-lg-4 text-center">
            <img src="~/images/dashboard.png" width="40%" />
            <h3>DashBoard</h3>
        </div>
    </a>

    <a href="../Home/Ajuda" style="color:darkslategray">
        <div class="col-lg-4 text-center">
            <img src="~/images/ajuda.png" width="40%" />
            <h3>Ajuda</h3>
        </div>
    </a>

</div>